{% extends "base.html" %}

{% block Content %}
    <table class="paper">
        <tr>
            <th class="titulo-tab">Fecha</th>
            <th class="titulo-tab">Concepto</th>
            <th class="titulo-tab">Tipo</th>
            <th class="titulo-tab numero">Cantidad</th>
        </tr>
        {% if movimientos %}
        {% for movimiento in movimientos %}
        <tr>
            <td>
                {% if movimiento.fecha %}
                {{movimiento.fecha}}
                {% else %}
                <!-- <td></td> -->
                <!--<td colspan="2">-->
                {% for error in movimiento.errores %}
                <p class="error">
                    {{ error }}
                </p>
                {% endfor %}
                <!--    </td> -->
                {% endif %}
            </td>

            <td>{{ movimiento.concepto }}</td>
            <td>
                {% if movimiento.ingreso_gasto == 'I' %}
                Ingreso
                {% else %}
                Gasto
                {% endif %}
            </td>
            <td class="numero">{{ movimiento.cantidad }}</td>
        </tr>
        {% endfor %}
        {%else%}
        <tr>
            <td colspan="4" class="lista-vacia">No hay movimientos para mostrar</td>
        </tr>
        {%endif%}
    </table>
{% endblock %}