<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance - Lista de movimientos</title>
    <link rel="stylesheet" href="static/css/flat-remix.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <!--<style>
        .lista {
            border: solid thin black;
            border-collapse: collapse;
            margin: 16px 0;
        }
    
        .lista td,
        .lista th {
            border: solid thin black;
            padding: 8px;
        }
    </style> -->
</head>
<body>

    {# movimientos #}
    

    <header>Balance de movimientos</header>
    <nav>
        Inicio | Nuevo
    </nav>

    <main>
        <table class="paper">
            <tr>
                <th class="titulo-tab">Fecha</th>
                <th class="titulo-tab">Concepto</th>
                <th class="titulo-tab">Tipo</th>
                <th class="titulo-tab numero">Cantidad</th>
            </tr>
            {% if movimientos %}
                {% for movimiento in movimientos %}
                <tr>
                    <td>
                        {% if movimiento.fecha %}
                        {{movimiento.fecha}}
                        {% else %}
                        <!-- <td></td> -->
                            <!--<td colspan="2">-->
                                {% for error in movimiento.errores %}
                                <p class="error">
                                    {{ error }}
                                </p>
                                {% endfor %}
                        <!--    </td> -->
                        {% endif %}
                    </td>                

                    <td>{{ movimiento.concepto }}</td>
                    <td>
                        {% if movimiento.ingreso_gasto == 'I' %}
                        Ingreso
                        {% else %}
                        Gasto
                        {% endif %}
                    </td>
                    <td class="numero">{{ movimiento.cantidad }}</td>
                </tr>
                {% endfor %}
            {%else%}
                <tr>
                    <td colspan="4" class="lista-vacia">No hay movimientos para mostrar</td>
                </tr>
            {%endif%}
        </table>
    </main>
    <footer class="pie-pagina">2023 Bootcamp Cero</footer>
</body>
</html>